.Accounts{
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-rows:65px auto auto;
    grid-template-columns: 18% auto auto;
    grid-template-areas:
     "navbar   navbar navbar "
     " sidbar   body body "
     " sidbar   body body"
    ; 
    transition :all 0.1s linear;
    }
.Accounts .nav{
    padding: 0;
    grid-area: navbar; 
    background: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
     }
.Accounts .nav img{
    height: 60%;
    
}  
.Accounts .nav .Dropdown{
    height: 80%;
    background-color: transparent;
}
.Accounts .nav .nav-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-right: 1em;
}
.Accounts .nav .nav-text:active{
    background-color: transparent;
}   
.Accounts .nav .nav-text img{
    border-radius: 0.5em;
    height: 100%;
}
.Accounts .nav .nav-text h1{
    font-size: 1em;
    margin-left: 0.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.Accounts .sidbar{
    background: whitesmoke;
    border-right: 0.1rem solid rgba(128, 128, 128, 0.534);
    grid-area: sidbar;
    padding: 0;      
    display: flex;
    flex-direction: column; 
    }  
.Accounts .sidbar .Link{
    position: relative;
    text-decoration: none;
    padding: 0.5em;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:black ;
}  
.Accounts .sidbar .Link.active{
    color:#2E8B57;
    font-weight: 600;
    background-color: rgba(0, 128, 0, 0.10);

}  
.Accounts .sidbar .Link.active::before{
 content: '';
 position: absolute;
 height: 100%;
 width: 0.3em;
 top: 0;
 left: 0;
 background-color: #2E8B57;
}
.Accounts .sidbar  .icon{
    font-size: 1.7em;
    margin-right: 0.2em;
}
.Accounts .body{
    background: whitesmoke;
    overflow: auto;
    grid-area: body;
    } 

@media screen and (max-width: 850px) {
    .Accounts{
        height: 100vh;
        width: 100%;
        display:grid;
        grid-template-rows:10% 8% auto;
        
        grid-template-areas:
         "navbar   navbar navbar "
         " sidbar   sidbar sidbar "
         " body   body body"
        ; 
        }
        .Accounts .sidbar{
            background: whitesmoke;
            border-right: 0.1rem solid rgba(128, 128, 128, 0.534);
            grid-area: sidbar;
            padding: 0;      
            display: flex;
            flex-direction: row; 
            }  
            .Accounts .sidbar .Link.active::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 0.3em;
                top:97%;
                background-color: #2E8B57;
               }   
               .Accounts .nav .nav-text img{
               display: none;
               }

}      