.falowpage{
  filter: blur(0.7px);
  pointer-events: none; 
  
  
}
.falowpage2{
  filter: blur(0.7px);
  pointer-events: none; 
  position: fixed;
}
.falowpage::after {
  content: '';
  display: block;
  position: absolute; 
  top: 0;
  left: 0; 
  filter: blur(10px);
  pointer-events: none p !important;
  width: 100%;
  height: calc(100vh ); /* Utiliser calc pour ajuster la hauteur correctement */
  background-color: rgba(36, 32, 32, 0.856);
}

.sidebarleft{
    height: 90vh;
    width: 250px;
    overflow: scroll;
    position: fixed;
    z-index: 1500;
    top: 6px;
    margin-top: 60px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

}

.aaww{
    margin-top: 30px;
    height: 40px;
    text-align: center;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    padding: 10px;
    text-decoration: none;
    border: none;
    width: 95%;
    cursor: pointer;
    
}
.aaww h5{
  padding-top: 7px;
  letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px !important;
    gap: 15px;
    text-decoration: none;
    transition: all 0.5s;
    font-family: cursive;
    
  }
  .link:hover{
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background:rgb(74, 110, 133);
    opacity: .2;
    color: white;
    transition: all 0.5s;
  }
  .active{
    margin: 2px;
    border-radius: 10px;
    background: rgba(237, 240, 241, 0.267);
    color: #ffffff;
   
  }
 
