.Cadre{
    width: 310px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1045;
    bottom: 5px;
    background-color: rgb(252, 252, 255);
    border-radius: 10px;
    
}
.navcadre{
    padding: 5px;
    box-shadow:0 1px rgba(0, 0, 0, 0.26) ;
    height: 60px;
  padding-top: 10px;
}
.navcadre button{
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0px;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.37);
}
.navcadre button:hover{
    transform: scale(1.1);
    
}
.Cadre h1{
    margin-left: 10px;
    font-size: xx-large;
    font-weight: bold;
}
.Cadre p{
    margin-left: 10px;
    font-size: small   ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.411);
}
.Cadre form .form{
    padding-top: 10px;
    overflow: auto ;
    height: 350px;
    margin-bottom: 10px; 
}
.Cadre form .form p{
font-size: x-small;
font-family: sans-serif;
}
.Cadre form .form input{
    margin-left: 10px;
    margin-right:10px ;
    width: 90%;
    padding-left: 7px;
    height: 40px;
    margin-bottom: 10px;
}
.Cadre form .form select{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 7px;
    height: 40px;
    width: 90%;
}

.Cadre form .form textarea{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 7px;
    height: 60px;
    width: 90%;
}
.Cadre .piedcadre{
   
    padding-top: 10px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
.Cadre form .piedcadre  button{
    align-items: center;
    border: none;
    font-weight:600 ;
    margin-left: 20%;
    padding: 2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: #0861f2;
    
}
.Cadre form .piedcadre  button:hover{
    background-color: #0862f280;
    transform: scale(1.1);
}
.Cadre form .piedcadre p{
    font-size: x-small;
}
.Cadre form .piedcadre p a{
    cursor: pointer;
    color: #0861f2;
}
.Cadre form .piedcadre p a:hover{
    text-decoration: underline;
    color: #0861f2;
}
.affichage{
    width: 900px;
    z-index: 1045;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    background-color: rgb(252, 252, 255);
    top: 150px;
    left: 400px;
    border-radius: 6px;
    padding-top: 10px;

 
}

.affichage .affichageNav {
    display: flex;
    justify-content: space-between;

}
.affichage .affichageNav h1{
    margin-left: 10px;
    font-size:medium;
    font-weight: 600;
    display: inline;

}
.affichage .affichageNav button{
    border: none;
    padding: 0px;
    display: inline;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: transparent;

}
.affichage .affichageNav button:hover{
   background-color: rgba(0, 0, 0, 0.062) ;

}
.affichage .affichageprofile{
    overflow: auto;
    height: 370px;
}
.affichage .affichageprofile .photoCoverture{
    margin:20px ;
    border-radius: 10px;
    height: 250px;
}
.affichage .affichageprofile .photoCoverture img{
    margin:20px ;
    border: 2px;
    border-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    border-style: solid;
    height: 250px;
    width: 95%;
}
.affichage .affichageprofile .photoprofile img{
    width: 25%;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: rgba(190, 187, 187, 0.274);
    border-radius: 50%;
    position: relative;
    top: -170px;
    left: 350px; 
}
.affichage .affichageprofile h1{
    font-weight: bold;
    text-align: center;
    margin-top: -160px;
}
.affichage .affichageprofile p{
    text-align: center;
   
} 
.affichage2{
    width: 400px; 
    height: 500px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    background-color: rgb(252, 252, 255);
    top: 100px;
    left: 600px;
    border-radius: 6px;
    padding-top: 10px;
    z-index: 1045;
 
}

.affichage2 .affichageNav {
    display: flex;
    justify-content: space-between;

}
.affichage2 .affichageNav h1{
    margin-left: 10px;
    font-size:medium;
    font-weight: 600;
    display: inline;

}
.affichage2 .affichageNav button{
    border: none;
    padding: 0px;
    display: inline;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: transparent;

}
.affichage2 .affichageNav button:hover{
   background-color: rgba(0, 0, 0, 0.062) ;

}
.affichage2 .affichageprofile{
    overflow: auto;
    height: 270px;
}
.affichage2 .affichageprofile .photoCoverture{
    margin:20px ;
    border-radius: 10px;
    height: 150px;
}
.affichage2 .affichageprofile .photoCoverture img{
    border: 2px;
    border-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    border-style: solid;
    height: 150px;
    width: 97%;
}
.affichage2 .affichageprofile .photoprofile img{
    width: 25%;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: rgba(190, 187, 187, 0.274);
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 150px; 
}
.affichage2 .affichageprofile h1{
    font-weight: bold;
    text-align: center;
    margin-top: -85px;
    font-size: medium;
}
.affichage2 .affichageprofile p{
    text-align: center;
    font-size: small;
   
}