.ListBoutique{
  height: auto;
  width: auto;
  display:  grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  place-items: center;
  
}
.listeitem{
margin-top: 200px;
}

.add{
   
    height: 200px ; 
    width: 200px ;
   cursor: pointer;
    font-size: 150px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 50px;
    background-color: rgba(156, 175, 175, 0.233);
    border-radius: 50%;
 }
 .add:hover{
    transform: scale(1.1);
 }
