.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 5px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: darkgray !important;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    
        min-height: 52px;
        padding-right: 2px;
        display: flex;
        align-items: baseline!important;
    
}
.edit-MyProduct-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    color: green;
    padding: 0.2em;
    border-radius: 50%;
    font-size: 1.5rem;
}
.edit-MyProduct-0:hover{
    background-color: rgba(0, 0, 0, 0.445);
}
.delete-MyProduct-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.2em;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #e90404;
}
.delete-MyProduct-1:hover{
    background-color: rgba(0, 0, 0, 0.445);
    color: whitesmoke;
}
.edit{
    width: 100%;
    margin: 0;
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.MyProduct{
    padding-left: 2em;
    margin-top: 1em;
}
.MyProduct .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3.5em;
}
.MyProduct .header h2{
   
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        font-family: 'Public Sans', sans-serif;
        margin: 0;
    
}
.MyProduct .header button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(90, 89, 89, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(43, 40, 40, 0.4) 0%, rgba(0,0,0,0.40) 120%) #777272;
    background-blend-mode: multiply,multiply;
    border-radius: 0.4em;
    font-size: 0.9em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.2em;
    width: 7rem;
    color: white;
    font-weight: bold;
    border: 0.1em solid gray;
}
.MyProduct .header button:hover{
    background-color: rgba(26, 22, 22, 0.7);
    }
.MyProduct .header button:hover .bshssuygzu{
    animation: rotate 1s ease-in-out 0s;
}
.MyProduct .card{
    margin-top: 1em;
    border: 0.1em solid #e0e0e0;
    background: white;
    width: 99%;
    padding: 1em;
    border-radius: 1em;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
   
    50%{
        transform: rotate(30deg);
    }
     
      100%{
          transform: rotate(-30deg);
      }
      
    

  }
  @media screen and (max-width: 850px) {
   
    .MyProduct{
        padding-left: 0em;
        padding: 0.5em;
        margin-top: 1em;
    }
    .MyProduct .card{
        width: 100%;
        
    }
    .MyProduct .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0.5em;
    }
  }
  