.CardGroup-555{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin: 0 0.4em;
    width: 19rem;
    aspect-ratio: 2/2.6;
    overflow: hidden;
    & .tdgygdegdeyyegyd{
        width: 100%;
        padding:0 1em;
        display: flex;
        margin: 0;
        font-size: 0.8em;
        font-weight: 500;
        justify-content: flex-start;
    }
    & h1{
        font-size: 1.1em;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 1em;
    }

    & .CardGroup-555-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        & h5{
           
            font-size: 0.9em;
            line-height: 1.5;
            font-weight: 500;
            margin-bottom: 1em;
            color: rgb(73, 73, 73);
        }
        & .CardGroup-555-1-1{
            display: flex;
            width: 85%;
            margin:0  0.5em;
            flex-direction: column;
            align-items: center;
         
            
            & img{
                width: 100%;
                aspect-ratio: 1/1;
                
                object-fit: cover;
            }
           cursor: pointer;
        }
    }
}
@media screen and (max-width: 768px){
    
    .CardGroup-555{
        margin: 0 0.4em;
        width: 13rem;
        aspect-ratio: 1/1.5; 
        & h1{
            font-size: 0.7em;
        
        }
      
    }
    
}