.ssssspppp{
    width: 100%

}
.ssssspppp::before{
   
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%);
        /* Ce dégradé commence transparent et devient blanc. Ajustez les couleurs et l'opacité comme nécessaire. */
      
}
.xzihedpiu9858949848{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    & .Galleria button{
        text-shadow:
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
        1px  1px 0 #ffffff;
        position: absolute;
        top:0;
        min-height: 30% !important;
        color: black;
        font-size: 1em;
    }
    & .ssiiidjij{
        margin-top: -23%;
        z-index: 1;
        padding: 0 1em;
        & .sniijsi556{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
        }
        & .sssooodood{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
           
        }
    }
    

}
@media screen and (max-width: 768px){
    .xzihedpiu9858949848{
        & .Galleria button{
            font-size: 0.8em;
            
        }
        & .ssiiidjij{
            margin-top: -15%;
    
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
        }

}
}