
.Navbar{
    background: #131921 ;
    border-bottom: 1px solid #232f3e;
    width: 100%;
    height: 10vh;
    padding-right: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.Navbar .left{
padding: 0;
margin: 0;
display: flex;
align-items: center;
}
 .Navbar .left .logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
 .Navbar .left .logo img{
   height: 60%;
   padding-left: 1em;

}
.Navbar .right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   height: 100%;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;

}
 
 .ant-menu-sub{
    display: flex;
    
   }
  .ant-menu-sub {
     font-weight: 600;
   }
 .ant-menu-sub ul{
     font-weight: 500;
     color: cadetblue;
     margin-left: -1em !important;
   } 

.Navbar .cybxzbxzb{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
.Navbar .cybxzbxzb .cart:hover{
   
   border-color: whitesmoke;
}
.Navbar .cybxzbxzb .cart{
    margin-right: 0.3em;
    display: flex;
    border: 0.15rem solid transparent;
    border-radius: 0.3em;
    padding: 0.4em;
    font-size: 1.5em;
    color: whitesmoke;
}
.Navbar .cybxzbxzb .cart .css-zza0ns-MuiBadge-badge {
background-color: #ffc107;    
}
 .right .Connexion{
    text-decoration: none;
    height: 70%;
    margin-right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4%;
    color: #ffc107;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 0.7rem;
}  
 .right .Commencer{
    width: 6rem;
    border: 0.2em solid #ffc107;
    color: #ffc107;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    border-radius: 0.8em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 0.7rem;
} 
 

.Navbar .body{
    height: 100%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
/* ///////////////////////////NavBar2//////////// */
.Navbar  .right .menu button{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: none;
    overflow: hidden;
    font-size: 2em;
    margin-right: 0.5em;
    color: white;
    padding: 0.2em;
    border-radius: 0.2em;
    background-color: transparent;
}
.Navbar  .right .menu button:hover{
    transform: all 0.5s;
   border: 0.1em solid #ffffff;
}
/* /////////////////////////////////// */

.homeMenu{
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 0.5em;
    background-color:  #46525f ;
    padding-left: 0.2em;
   
  
}
.homeMenu img{
    width: 40px;
    height: 40px;
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-right: 0;
}
.homeMenu h1{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(230, 230, 230);
    margin-left: 0.3rem;
    margin: 0.1em;
    max-width: 100px;
    overflow: hidden;
}