.SearchBarixzjokzp{
    display: flex;
    padding: 0;
    align-items: center;
}
.ant-input {
    border-radius: 0;
    border-color:gold ;
}
.ant-input:hover, .ant-input:focus {
    border-color: transparent;
}
.Dropdownsqqsx{
 
}
 .Dropdownsqqsx .nav-text{
   border-radius: 0;
   border: none;
   font-weight: 400;
   background-color:  gold;
   color: black;
   border-top-left-radius:5px ;
   border-bottom-left-radius:5px ;
}
.ant-input-group-addon button{
    background-color: gold;
    padding-left:15px !important;
    padding-right:15px !important;
    color: black;
}
.ant-input-group-addon button:where(:hover){
    background-color: gold !important;
    color: black !important;
}


.Dropdownsqqsx .nav-text:hover{
    background-color: gold;
    color: black;
}
.Dropdownsqqsx .nav-text:focus{
    background-color: gold!important;
    color: black;
}
.Dropdownsqqsx .nav-text:active,.Dropdownsqqsx .nav-text:checked,.Dropdownsqqsx .nav-text:any-link,.Dropdownsqqsx .nav-text:visited,.Dropdownsqqsx .nav-text:link,.Dropdownsqqsx .nav-text:where(:hover),.Dropdownsqqsx .nav-text:where(:focus),.Dropdownsqqsx .nav-text:where(:active),.Dropdownsqqsx .nav-text:where(:checked),.Dropdownsqqsx .nav-text:where(:any-link),.Dropdownsqqsx .nav-text:where(:visited),.Dropdownsqqsx .nav-text:where(:link){
    background-color: gold!important;
    color: black!important;
}
@media screen and (max-width: 800px){
    .Dropdownsqqsx{
        display: none;
    }
    .ant-input {
        border-top-left-radius:0.3em ;
        border-bottom-left-radius:0.3em ;
    }
}