.CarouselMobile{
  top: 0;  width: 100%;
}
.addbutton{
    border-radius: 50%;
    border: none;
    margin-right: 30px;
    background-color: transparent;
    
}
.addbutton :hover{
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 50%;
   
}
.coco{
    background-color: #ffffff; 
  }
  .titrenavbarboutique{
    position: absolute;
    display: flex;
    left: 20px;
  }
  .navbarboggle{
    position: absolute;
    display: flex;
    right: 10px;
  }
  .addbutton2{
    border-radius: 50%;
    border: none;
    padding: 10px;
    background-color: transparent;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    
    
}
.addbutton2:hover{
    background-color: rgba(0, 0, 0, 0.116);
}
.coco{
    background-color: #ffffff; 
  }
.se{
    width: 70%;  
    padding-top: 100px;
    margin-left: 300px
;    
}
.borderbuttom{
  border-style:solid ;
  border-top: 0.7px;
  border-left: none;
  border-right: none;
  border-color: rgba(0, 0, 0, 0.158);
  height: 65px;
}
.se2{
  width: 100%;  
  padding-top: 100px;
;    
}
.yy{
    width: 30px;
}
@media screen and (max-width:330px) {
  .titrenavbarboutique{
    left: 10px;
  }
}