.login {
    height: 100vh;
    width: 100%;
    background: #5c2235 url(https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png);
    background-size: 100px; /* ou la taille souhaitée */
    background: -webkit-linear-gradient(to right, #040c1b, #072c0f, #aa4b6bfa), url(https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png);
    background: linear-gradient(to right, #1c1c2be8, #3b3b5cda, #26726fd3), url(https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png);
}
.login form {
    width: 40%;
    height: auto;
    background-color: white;
    position: relative;
    top:50%;
    left:50%;
    border-radius: 15px;
    transform: translate(-50%,-50%);
}
.login form .page{
    position: relative;
    width:100%;   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-top:2rem ;
}
.login form .header{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    left: 2rem;
    
}
.login  .header img{
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0;
    height: 3rem;
    width: auto;
    margin-left: 1%;
}
.login .page h1{
font-size: x-large;
font-weight: bold;
margin:2% ;
}
.login .page .input {
    margin: 5px;
    width: 80%;
   
}
.login .page .input label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;

}
.login .page .button{
    background: linear-gradient(to bottom, rgba(90, 89, 89, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(43, 40, 40, 0.4) 0%, rgba(0,0,0,0.40) 120%) #777272;
    background-blend-mode: multiply,multiply;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:80%;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: bold;
   
}
.login .page .button:hover{
    background-color: rgba(8, 8, 8, 0.705);
}
.login .page .text{

width: 40%;
text-align: center;
margin-left:20px ;
margin-right: 10%;
position: relative;
}
.login .page .text::before{
    content: '';
    width: 50%;
    height: 1px;
    background-color: rgb(82, 82, 97);
    position: absolute;
    left: -50%;
    top: 50%;
}
.login .page .text::after{
    content: '';
    width: 50%;
    height: 1px;
    background-color: rgb(82, 82, 97);
    position: absolute;
    right: -50%;
    top: 50%;
}
.login .page .reseauxsociaux {
    margin: 5px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.login .page .reseauxsociaux button{
    padding: 7px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    font-weight: 500;
    font-size: 16px;
    width: 50%;
    margin: 2px;
   
}
.login .page .reseauxsociaux  .facebook{
    color: #1d3469;
}
.login .page .reseauxsociaux .google{
    color: grey;}
.login .page .text{
    color: rgba(128, 128, 128, 0.658);
    font-size: 16px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login .page .LinkForPassWordOublie{
 position: relative;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin: 0;
color: #1d3469;
 right:-25%;
}
.login .page .Signuip{
    display: flex;
    color: rgb(141, 145, 148);
}
.login .page .Signuip .link{
    margin-left: 5px;
    color: rgb(141, 145, 148);
}
.login .page .Signuip p{
    font-weight: 100;
    padding-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.alert{
    width:35%;
}
@media screen and (max-width: 1000px) {
    .login form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        justify-content: center;
    }
    .alert{
        width: 80%;
    }
    .login  .header img{
        opacity: 1;
    }
   
}