.Dashboard{
    height: calc(100vh - 65px);
    overflow: auto;
    background-color: whitesmoke;
    width: 100%;
    background-color: whitesmoke;
}
.Dashboard .HomeDashboardnav{
    position: fixed;
    top: 65px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.Dashboard .main{
    padding-top: 40px;
   }